header {
    background-color: #FFCC99;
    text-align: center;
    font-weight: 900;
    box-shadow: 10px 5px 5px grey;
}

main {
    background-color: #E6F2FF;
    display: flex;
}

aside {
    background-color: #B3D9FF;
    flex: 1;
    border: 1px solid #CCC;
}

section {
    margin: 20px;
    flex: 3;
}

footer {
    background-color: #99CC99;
    border: 1px solid #CCC;
    box-shadow: 10px 5px 5px grey;
}